* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  z-index: 1;
}

.banner {
  background-image: url(./images/landingImage.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  z-index: -999;
}

.navbar {
  padding-top: 10px;
  background: transparent;
  height: 80px;
  width: 100%;
  font-size: 0.9rem;
  position: sticky;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.navbar__container {
  display: flex;
  justify-content:space-between;
  height: 55px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1300px;
}

.nav2{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

img.navbar-image {
  max-width: 175px;
  height: auto;
}


.navbar__menu {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  list-style: none;
  align-items: center;
  border-radius: 10px;
}

.navbar__item2 {
  height: 55px;
  padding-right: 0;
  display: flex;
  align-items: center;
}

.navbar__item {
  height: 55px;
  padding-right: 6rem;
  display: flex;
  align-items: center;
}


.navbar__links {
  color: white;
  mix-blend-mode: difference;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
  text-decoration: none;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
}

.navbar__links:hover {
  color: #ff5877;
  transition: all 0.3s ease;
}

.logout__btn{
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  height: 100%;
  min-width: 175px;
  border-radius: 50px;
  background: linear-gradient(45deg, #3c0037, #ff5877);
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s all;
}

.logout__btn:hover{
  background: white;
  color: black;
}


h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 15px;
  max-width: 1300px;
}

#current__month {
  font-weight: 600;
}

.header h1 span {
  background: -webkit-linear-gradient(45deg, #3c0037, #ff5877);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 12px;
}

.select__month {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

#month__selected {
  display: flex;
  color: white;
  font-weight: 400;
  text-align: center;
  align-items: center;
  margin: 0 1em;
}

.month__button {
  color: white;
  cursor: pointer;
}

.padding {
  cursor: default;
  background-color: #fffcff;
  box-shadow: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.weekday__container {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.weekdays {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(7, 1fr);
  color: white;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
}

#calendar {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5em;
  width: 75%;
  padding-bottom: 50px;
}

.day {
  color: white;
  width: 100%;
  padding: 10px;
  height: 110px;
  cursor: pointer;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.174);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s all;
}

.day:hover {
  border: #818181 solid 2px;
}

.day.selected {
  background: linear-gradient(45deg, #3c0037, #ff5877);
}

.event {
  font-size: 10px;
  padding: 3px;
  background: linear-gradient(45deg, #3c0037, #ff5877);
  color: white;
  max-height: 55px;
  overflow: hidden;
}

h3{
  color: white;
}

#event__screen {
  display: none;
  z-index: 20;
  padding: 25px;
  background: rgb(1,5,9);
  background: linear-gradient(135deg, rgba(1,5,9,1) 0%, rgba(18,10,23,1) 38%, rgba(52,19,38,1) 67%, rgba(162,55,74,1) 100%);
  border: 2px solid rgba(162,55,74,1);
  width: min(90%, 400px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.calField {
  width: 100%;
  margin: 0.5em 0;
  border: 0;
  padding: 10px 0px;
  outline: none;
  transition: 0.5s;
  font-size: 1.4rem;
  color: white;
  background: rgba(0, 0, 0, 0.174);
  font-weight: 300;
  font-size: 1rem;
  cursor: text;
}

.charField:focus {
  border-bottom: 2px solid #ff5877;
}

.event__form {
  display: flex;
  flex-direction: column;
}

.form__lbl {
  color: white;
}

.form__btns {
  display: flex;
  margin-top: 0.5em;
}

.event__btn {
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  border: none;
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #3c0037, #ff5877);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s all;
}

#save__btn {
  margin-right: 0.5em;
}

.event__btn:hover {
  background: white;
  color: black;
}

#new__event__overlay {
  color: #ffffff;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  background: transparent;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  border-radius: 4px;
  transition: 0.3s ease;
}

/* ----------------------------------- register.html --------------------------------------- */

.main__title {
  display: flex;
  justify-content: center;
}

.main__title h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 30px;
  background: -webkit-linear-gradient(45deg, #3c0037, #ff5877);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login {
  padding-top: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register__form {
  color: white;
  max-width: 600px;
}

.register__btn {
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: 15px 20px;
  margin: 0 auto;
  height: 100%;
  border: none;
  border-radius: 4px;
  box-shadow: 6px 6px 10px #00000066;
  background: linear-gradient(45deg, #3c0037, #ff5877);
  color: #ffffff;
  text-decoration: none;
}

/*-------------------------------LOGIN--------------------------------------*/

.login p,
.login p a {
  color: #818181;
  display: flex;
  justify-content: center;
}

/*--------------------------------Home--------------------------------------*/

.landing__container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

.landing__container h2 {
  color: #ffffff;
  font-size: 8rem;
  font-weight: 700;
}

.landing__container h2 span {
  background: -webkit-linear-gradient(45deg, #3c0037, #ff5877);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing__btns {
  display: flex;
}

.home__btn {
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: 15px 20px;
  margin: 0em 0.25em;
  height: 100%;
  min-width: 175px;

  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #3c0037, #ff5877) 1;
  background: transparent;

  color: white;
  position: relative;
  z-index: 0;
  text-decoration: none;
  transition: 0.3s all;
}

.home__btn:hover {
  background: linear-gradient(45deg, #3c0037, #ff5877);
  
  color: white;
}

#main-img {
  width: 90%;
}

#reg-btn-2 {
  margin-left: 1em;
}

.hidden {
  display: none;
}

/*--------------------------------------------- EVENT TABLE -----------------------------------------------------*/

table {
  display: table;
  margin: 0 auto;
  color: #ffffff;
  justify-content: center;
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 80%;
  height: 100%;
}

td {
  text-align: center;
  padding: 1em 0.5em;
  background: rgba(0, 0, 0, 0.174);
}

th {
  padding: 0 5em;
}

tr {
  background: transparent;
}

.edit__btn {
  color: #ffffff;
}

.edit__btn:hover {
  color:#ff5877;
}

.add__event__overlay {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.174);
}

#add__btn {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 0.5em 0;
}

#edit__screen {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

.edit__form {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.edit__lbl {
  margin: 10px 200px;
}

.charField {
  width: 100%;
  margin: 1em 0;
  border: 0;
  padding: 10px 0px;
  outline: none;
  transition: 0.5s;
  font-size: 1.4rem;
  color: white;
  background: rgba(0, 0, 0, 0.174);
  font-weight: 300;
  font-size: 1rem;
  cursor: text;
}

.charField:focus {
  border-bottom: 2px solid #ff5877;
}

.edit__btns {
  display: flex;
  margin-top: 0.5em;
}

.update__btn {
  font-weight: 600;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: 15px 20px;
  height: 100%;
  width: 100%;

  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #3c0037, #ff5877) 1;
  background: transparent;

  color: white;
  position: relative;
  z-index: 0;
  text-decoration: none;
  transition: 0.3s all;
}

.update__btn:hover {
  background: linear-gradient(45deg, #3c0037, #ff5877);
  
  color: white;
}