* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  z-index: 1;
}

.banner {
  background-image: linear-gradient(45deg, #040609, #1d2436);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  z-index: -999;
}

.navbar {
  background: linear-gradient(45deg, #5d1ec2, #d079ff);
  height: 80px;
  width: 100%;
  font-size: 0.9rem;
  position: sticky;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/*#navbar__logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

#navbar__logo:hover {
  color: black;
}*/

#navbar__logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
  padding-right: 1.5rem;
}

.navbar__links {
  color: white;
  mix-blend-mode: difference;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
  text-decoration: none;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
}

.navbar__links:hover {
  color: black;
  transition: all 0.3s ease;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 15px;
  max-width: 1300px;
}

/*p {
  display: relative;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}*/

.header h1 span {
  background: -webkit-linear-gradient(180deg, #5d1ec2, #6f27db, #d079ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 12px;
}

.select__month {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.select__month i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s all;
}

.select__month i:hover {
  background: -webkit-linear-gradient(180deg, #5d1ec2, #6f27db, #d079ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#month__selected {
  display: flex;
  color: white;
  font-weight: 400;
  text-align: center;
  align-items: center;
  margin: 0 1em;
}

.padding {
  cursor: default;
  background-color: #fffcff;
  box-shadow: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.weekday__container {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.weekdays {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(7, 1fr);
  color: white;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
}

#calendar {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5em;
  width: 75%;
  padding-bottom: 50px;
}

.day {
  color: white;
  width: 100%;
  padding: 10px;
  height: 110px;
  cursor: pointer;
  box-sizing: border-box;
  background: linear-gradient(45deg, #040609, #121621);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 6px 6px 10px #00000066;
  transition: 0.3s all;
}

.day:hover {
  border: #818181 solid 2px;
}

.day.selected {
  background: linear-gradient(45deg, #5d1ec2, #d079ff);
}


#event__screen {
  display: none;
  z-index: 20;
  padding: 25px;
  background: linear-gradient(45deg, #5d1ec2, #d079ff);
  box-shadow: 0px 0px 10px #00000066;
  border-radius: 4px;
  width: min(90%, 300px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.event__form {
  display: flex;
  flex-direction: column;
}

.form__btns {
  display: flex;
  margin-top: 0.5em;
}

.event__btn {
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  box-shadow: 6px 6px 10px #00000066;
  background: linear-gradient(45deg, #040609, #121621);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all;
}

.event__btn:hover {
  background: white;
  color: black;
}

#new__event__overlay {
  color: #ffffff;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  background: transparent;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  border-radius: 4px;
  transition: 0.3s ease;
}

/* ----------------------------------- register.html --------------------------------------- */

.main__title {
  display: flex;
  justify-content: center;
}

.main__title h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 30px;
  background: -webkit-linear-gradient(180deg, #5d1ec2, #6f27db, #d079ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login {
  padding-top: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register__form {
  color: white;
  max-width: 600px;
}

.register__btn {
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: 15px 20px;
  margin: 0 auto;
  height: 100%;
  border: none;
  border-radius: 4px;
  box-shadow: 6px 6px 10px #00000066;
  background: linear-gradient(45deg, #5d1ec2, #6f27db, #d079ff);
  color: #ffffff;
  text-decoration: none;
}

/*-------------------------------LOGIN--------------------------------------*/

.login p,
.login p a {
  color: #818181;
  display: flex;
  justify-content: center;
}

/*--------------------------------Home--------------------------------------*/


.landing__container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

.landing__container h2 {
  color: #ffffff;
  font-size: 8rem;
  font-weight: 700;
}

.landing__container h2 span {
  background: -webkit-linear-gradient(45deg, #5d1ec2, #d079ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing__btns {
  display: flex;
}

.home__btn {
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: 15px 20px;
  height: 100%;
  width: 30%;
  border-radius: 4px;
  box-shadow: 6px 6px 10px #00000066;
  background: linear-gradient(45deg, #5d1ec2, #6f27db, #d079ff);
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s all;
}

.home__btn:hover {
  background: white;
  color: black;
}

#main-img {
  width: 90%;
}

#reg-btn-2 {
  margin-left: 1em;
}