{% extends "base.html" %} 
{% block title %} Home {% endblock %} 

{% block content %} 
<div class="landing__container">
    <div class="landing__content">
        {% if user.is_authenticated %}
        <h2><span>Event</span> Calendar</h2>
        <div class="landing__btns">
            <a href="/calendar" class="home__btn" id="reg-btn-1">Calendar</a>
            <a href="/calendar/events" class="home__btn" id="reg-btn-2">Events</a>
        </div>
            {% else %}
            <h2><span>Event</span> Calendar</h2>
            <div class="landing__btns">
                <a href="/login" class="home__btn" id="reg-btn-1">Log In</a>
                <a href="/signup" class="home__btn" id="reg-btn-2">Sign Up</a>
            </div>
            {% endif %}
    </div>
    <img src="/static/images/calendar.svg" alt="landing-image" id="main-img"/>
</div>

{% endblock %}